pkgbase = btyper-bin
	pkgdesc = Adaptive touch-typing practice in the terminal
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Ada-lave/btyper
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = btyper
	conflicts = btyper
	source = LICENSE::https://raw.githubusercontent.com/Ada-lave/btyper/v1.0.0/LICENSE
	sha256sums = bdabf93f2c955e364578613d481fe3ec286b7e03d295a3b1ef3a1d162e7844cd
	source_x86_64 = btyper-linux-amd64-v1.0.0::https://github.com/Ada-lave/btyper/releases/download/v1.0.0/btyper-linux-amd64
	sha256sums_x86_64 = 08848287e18fbc4e6c2dbebb67aef45d9f8e23b7c794f92b9e842ff2b105faa0
	source_aarch64 = btyper-linux-arm64-v1.0.0::https://github.com/Ada-lave/btyper/releases/download/v1.0.0/btyper-linux-arm64
	sha256sums_aarch64 = 60a0ff68474c8164107a77122726b0274209755637e732d7026cba92ae044fe3

pkgname = btyper-bin
